<h1>Colin Williams</h1>
<h2>Objective</h2>
<p class="objective">A software developer position in an
  organization where rapid and collaborative development of high
  quality software is needed.</p>
<h2>Summary</h2>
<div class="contact">
  <h3>Contact</h3>
  <dl id="contactinfo">
    <dt>Email</dt>
    <dd>public@colinwilliams.name</dd>
    <dt>Website</dt>
    <dd><a href="http://colinwilliams.name">colinwilliams.name</a></dd>
  </dl>
</div>
<ul>
  <li>Proven track record of successfully executing large,
    complex projects involving cooperation of several
    individuals.</li>
  <li>A developer concerned with maintaining a high level of
    quality in ways that does not seriously hinder rapid
    execution.</li>
   <li>Ability to adapt newly learned technology to complex
    problems.  Always studying new ideas and frameworks,
    allowing utilization of the most appropriate tools.</li>
  <li>Creates structured project plans giving stakeholders a
    detailed view of the execution plan.  Is also willing to
    rapidly change that plan, based on needs that arise during
    implementation.</li>
  <li>Will become a technical leader at your company, gaining
    expertise in systems core to your business.  This knowledge
    will then be freely shared with others in the company,
    raising the latent understanding of those systems for the
    entire team.</li>
  <li>Always willing to tackle difficult problems, embracing
    them as challenges instead of obstacles.</li>
</ul>
<h2>Selected Projects and Achievements</h2>
<ul>
  <li>Currently building an internal system for automated
    regression testing.</li>
  <li>Transitioned key systems onto a standardized architecture,
    reviving and completing projects that had been stagnant for
    over a year.</li>
  <li>Built tools for automatic implementation of Clinicals
    Network Interfaces by business stakeholders.  This
    effectively lowered both the developer workload and
    communication overhead.</li>
  <li>Maintained the queue of Clinicals Network Interfaces as
    the number of practices grew from a dozen to several
    hundred.</li>
  <li>2006 Eslinger Computer Science Award</li>
</ul>
<h2>Skills</h2>
<ul class="doublecolumn">
  <li>Perl</li>
  <li>HTML/CSS/Javascript/jQuery</li>
  <li>SQL (oracle and mysql)</li>
  <li>Apache</li>
  <li>Linux/Unix</li>
  <li>Network Troubleshooting</li>
  <li>Ruby on Rails</li>
  <li>Python</li>
  <li>PHP</li>
  <li>C/C++</li>
  <li>Java</li>
  <li>emacs/elisp</li>
</ul>
<p class="skills">&nbsp;</p>
<h2>Experience and Education</h2>
<dl>
  <dt class="important">athenahealth</dt>
  <dd>
    <dl>
      <dt>2011-current</dt>
      <dd>Senior Developer</dd>
      <dt>2006-2010</dt>
      <dd>Developer</dd>
    </dl>
  </dd>
  <dt class="important">Hendrix College</dt>
  <dd>
    <dl>
      <dt>2002-2006</dt>
      <dd>BA in Mathematics and Computer Science with
	distinction</dd>
    </dl>
  </dd>
</dl>
<h2>Personal Interests</h2>
<ul class="doublecolumn">
  <li>Go</li>
  <li>Maintaining <a href="http://chuckandelmo.com">chuckandelmo.com</a></li>
</ul>
<p class="personal">&nbsp;</p>
