<h1>Colin Williams</h1>
<div>
  <ul>
	<li>Created a group within athenahealth to explore new programming ideas.</li>
	<li>Organizes presentations attended by the bulk of athenahealth's development organization.</li>
	<li>Continuously hones skills through extra-curricular practice.</li>
	<li>Improves stability and design by practicing Test-Driven Development.</li>
	<li>Experience leading a team using Scrum.</li>
	<li>Uses Getting Things Done to effectively balance a large volume of work.</li>
  </ul>
</div>
<h2>Selected Projects</h2>
<div class="contact">
  <h3>Contact</h3>
  <ul class="nobullets">
    <li><b>Email</b> lackita@gmail.com</li>
    <li><b>Website</b> <a href="http://colinwilliams.name">colinwilliams.name</a></li>
  </ul>
</div>
<ul>
  <li>Maintains all regression testing systems.</li>
  <li>Transitioned key systems onto a standardized architecture, reviving and
    completing projects that had been stagnant for over a year.</li>
  <li>Scaled communication of clinical documents over a network from a dozen
	clients to several hundred.</li>
  <li>Built a site to allow up to date pictures of our guinea pigs.</li>
  <li>Built a site to manage and access audio recordings.</li>
  <li>Built and maintains a site for a web comic.</li>
  <li>Currently building a site to allow online play of a favorite game.</li>
</ul>
<h2>Programming</h2>
<div class="doublecolumn">
  <ul>
	<li>Perl</li>
	<li>HTML</li>
	<li>CSS</li>
	<li>Javascript</li>
	<li>jQuery</li>
	<li>Ruby on Rails</li>
	<li>SQL</li>
	<li>Io</li>
	<li>Prolog</li>
	<li>Scala</li>
	<li>Erlang</li>
	<li>Clojure</li>
	<li>Haskell</li>
	<li>Python</li>
	<li>PHP</li>
	<li>C/C++</li>
	<li>Java</li>
	<li>emacs/elisp</li>
	<li>Apache</li>
	<li>Linux (Debian-based)</li>
	<li>Networking</li>
  </ul>
</div>
<h2>Experience and Education</h2>
<ul class="nobullets">
  <li><b>athenahealth</b>
	<ul>
	  <li><b>2013-current</b> Release Engineering QA Queue Team Lead</li>
	  <li><b>2011-2013</b> Release Engineering Regression Senior Developer</li>
	  <li><b>2008-2010</b> Clinicals Network Interface Developer</li>
	  <li><b>2006-2008</b> Clinicals Bug Queue Developer</li>
    </ul>
  </li>
  <li><b>Hendrix College</b>
	<ul>
	  <li><b>2002-2006</b> BA in Mathematics and Computer Science with distinction</li>
    </ul>
  </li>
</ul>
