<h1>Colin Williams</h1>
<div>
  <ul class="nobullets">
	<li>Created the group CodeFu within athenahealth to explore new programming ideas.  Topics covered include the languages from "Seven Languages in Seven Weeks", Refactoring and the SOLID principles of Object Oriented Design.</li>
	<li>Organizes presentations attended by the bulk of athenahealth's development organization.  This was a dying artifact of the company's culture which is thriving once again thanks to these efforts.</li>
	<li>Continuously hones skills through extra-curricular practice.</li>
	<li>Improves stability and design by practicing Test-Driven Development.</li>
	<li>Experience leading a team using Scrum.</li>
	<li>Uses Getting Things Done to effectively balance large amounts of work.</li>
  </ul>
</div>
<h2>Selected Projects</h2>
<div class="contact">
  <h3>Contact</h3>
  <ul class="nobullets">
    <li><b>Email:</b> lackita@gmail.com</li>
    <li><b>Website:</b> <a href="http://colinwilliams.name">colinwilliams.name</a></li>
  </ul>
</div>
<ul class="nobullets">
  <li><b>Professional</b>
	<ul>
	  <li>Primary maintainer for most regression testing suites at athenahealth.</li>
	  <li>Created a job management system supplanting manually executed regression jobs.</li>
	  <li>Unified all regression systems onto a common framework, separating initialization of the regression environment from the code being regressed.</li>
	  <li>Transitioned key systems onto a standardized architecture, reviving and completing projects that had been stagnant for over a year.</li>
	  <li>Scaled communication of clinical documents over a network from a dozen clients to several hundred.</li>
	  <li>Constructed tools completely removing the need for a developer in the implementation of new network connections.</li>
	</ul>
  </li>
  <li><b>Personal</b>
	<ul>
	  <li>Building a Rails site of a favorite game using Test Driven Development through RSpec and Cucumber.</li>
	  <li>Contributed on CPAN to extensions for the Padre IDE and the package Games::Go::SGF2misc.</li>
	  <li>Designed several Rails sites to support hobbies and interests.</li>
	</ul>
  </li>
</ul>
<h2>Skills</h2>
<div class="quadcolumn">
  <ul class="nobullets">
	<li>Perl</li>
	<li>Ruby on Rails</li>
	<li>RSpec</li>
	<li>Cucumber</li>
	<li>Io</li>
	<li>Prolog</li>
	<li>Scala</li>
	<li>Erlang</li>
	<li>Clojure</li>
	<li>Haskell</li>
	<li>Python</li>
	<li>PHP</li>
	<li>C/C++</li>
	<li>Java</li>
  </ul>
</div>
<h2>Experience and Education</h2>
<ul class="nobullets">
  <li><b>athenahealth</b>
	<ul>
	  <li><b>2013-current:</b> Release Engineering QA Queue Team Lead
		<ul>
		  <li>Led a team to address features and bugs for tools used by other development teams within the company.</li>
		</ul>
	  </li>
	  <li><b>2011-2013:</b> Release Engineering Regression Senior Developer
		<ul>
		  <li>Addressed current issues and increased stability of several regression testing systems.</li>
		</ul>
	  </li>
	  <li><b>2008-2010:</b> Clinicals Network Interface Developer
		<ul>
		  <li>Implemented network connections between athenahealth and third party software.</li>
		</ul>
	  </li>
	  <li><b>2006-2008:</b> Clinicals Client Issues Developer
		<ul>
		  <li>Addressed feature requests and bug reports from clients.</li>
		</ul>
	  </li>
    </ul>
  </li>
  <li><b>Hendrix College</b>
	<ul>
	  <li><b>2002-2006:</b> BA in Mathematics and Computer Science with distinction</li>
    </ul>
  </li>
</ul>
