<h1>Colin Williams</h1>
<div class="contact">
  <h3>Contact</h3>
  <dl id="contactinfo">
    <dt>Email</dt>
    <dd>public@colinwilliams.name</dd>
    <dt>Website</dt>
    <dd><a href="http://colinwilliams.name">colinwilliams.name/resume</a></dd>
  </dl>
</div>
<h2>Summary</h2>
<ul>
  <li>Creator and leader of group studying and practicing new development
	concepts.</li>
  <li>Avid practitioner of TDD.</li>
  <li>Promotes software reuse using SOLID object oriented design.</li>
  <li>Continuously hones skills through extra-curricular practice.</li>
  <li>Currently leading a small team of developers using Scrum.</li>
  <li>Knowledge of automated testing, and experience building test suites for a
	large company.</li>
  <li>Transitioned key systems onto a standardized architecture, reviving and
    completing projects that had been stagnant for over a year.</li>
  <li>Scaled communication of clinical documents over a network from a dozen
	clients to several hundred.</li>
  <li>Experienced GTD enthusiast.</li>
</ul>
<h2>Agile/Design Skills</h2>
<div class="doublecolumn">
  <ul>
	<li>TDD</li>
	<li>OOD</li>
	<li>SOLID</li>
	<li>Scrum</li>
  </ul>
</div>
<h2>Programming Skills</h2>
<div class="doublecolumn">
  <ul>
	<li>Perl</li>
	<li>HTML</li>
	<li>CSS</li>
	<li>Javascript</li>
	<li>jQuery</li>
	<li>Ruby on Rails</li>
	<li>SQL</li>
	<li>Io</li>
	<li>Prolog</li>
	<li>Scala</li>
	<li>Erlang</li>
	<li>Clojure</li>
	<li>Haskell</li>
	<li>Python</li>
	<li>PHP</li>
	<li>C/C++</li>
	<li>Java</li>
	<li>emacs/elisp</li>
  </ul>
</div>
<h2>System Skills</h2>
<div class="doublecolumn">
  <ul>
	<li>Apache</li>
	<li>Linux (Debian-based)</li>
	<li>Networking</li>
  </ul>
</div>
<h2>Experience and Education</h2>
<ul class="experience">
  <li><b>athenahealth</b>
	<ul>
	  <li><b>2013-current</b> Release Engineering QA Queue Team Lead</li>
	  <li><b>2011-2013</b> Release Engineering Regression Senior Developer</li>
	  <li><b>2008-2010</b> Clinicals Network Interface Developer</li>
	  <li><b>2006-2008</b> Clinicals Bug Queue Developer</li>
    </ul>
  </li>
  <li><b>Hendrix College</b>
	<ul>
	  <li><b>2002-2006</b> BA in Mathematics and Computer Science with distinction</li>
    </ul>
  </li>
</ul>
<h2>Personal Interests</h2>
<div class="doublecolumn">
  <ul>
	<li>Go</li>
	<li>Maintaining <a href="http://chuckandelmo.com">chuckandelmo.com</a></li>
	<li>MOOCs</li>
  </ul>
</div>
<p class="personal">&nbsp;</p>
