<div style="width: 167px;float: left; text-align: center; margin: 5px">
  <%= image_tag "TAM-2013-small.gif" %>
  <div class="date">June 14-16, 2013</div>
  <p><a class="button" href="https://secure3.convio.net/ala/site/Donation2?df_id=14123&PROXY_ID=4460699&PROXY_TYPE=20&FR_ID=6200&JServSessionIdr004=7zhdrmm0g2.app304b">Donate Now</a></p>

  <div class="slideshow">
    <%= image_tag "century.jpg", :width => '100%' %>
    <!--div><a style="float: left" href="#">&lt;&lt;</a> <a style="float: left" href="#">&lt;</a> <a style="float: right" href="#">&gt;</a> <a style="float: right" href="#">&gt;&gt;</a></div-->
  </div>
</div>

<div style="width: 620px; height: 100%;float:left">
  <!-- Start MMF Embed Tool -->
    <iframe id="mmf_blog_map" src="http://www.mapmyride.com/routes/view/embedded/16322399" height="430px" width="100%" frameborder="1">
    </iframe>
  <!-- End MMF Embed Tool -->
</div>
