<div style="width: 167px;float: left; text-align: center; margin: 5px">
  <%= image_tag "TAM-2013-small.gif" %>
  <button style="background: #9ACD32; padding: 5px; margin: 5px; border-radius: 10px; -moz-border-radius: 10px; border-color: #000000; font-size: 20px">Donate Now</button>

  <div class="slideshow">
    <%= image_tag "century.jpg", :width => '100%' %>
    <div><a style="float: left" href="#">&lt;&lt;</a> <a style="float: left" href="#">&lt;</a> <a style="float: right" href="#">&gt;</a> <a style="float: right" href="#">&gt;&gt;</a></div>
  </div>
  <div style="display: none">
    <%= image_tag "century.jpg" %>
    <%= image_tag "trek2012.jpg" %>
  </div>
</div>

<div style="width: 620px; height: 100%;float:left">
  <!-- Start MMF Embed Tool -->
    <iframe id="mmf_blog_map" src="http://www.mapmyride.com/routes/view/embedded/16322399" height="430px" width="100%" frameborder="1">
    </iframe>
  <!-- End MMF Embed Tool -->
</div>
