// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.objective {
    text-align: center;
    margin-top: 5px;
}

div.contact {
    display: block;

    float: right;
    top: 15px;
    left: 0;
    margin-left: 5px;
    width: 266px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #CCCCCC;

    padding: 10px;

    border: 1px solid #CCCCCC;
}

div.contact h3 {
    text-align: center;
    margin: 0;
}

div.contact dl {
    margin: 0;
}

ul.doublecolumn li {
    float: left;
    width: 50%;
}

p.skills {
    height: 100px;
}

p.personal {
    height: 0px;
}

.hidden {
    display: none;
}

a.button {
	background: #9ACD32;
	padding: 5px;
	margin: 0px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	border: solid black 2px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

a.button:active {
	border: solid black 1px;
	background: #9AFF32;
}

div.date {
	font-weight: bold;
}
